<!DOCTYPE html>
<html>
<head>
  <title>Profiler 결과</title>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
  <h2>분석 결과 (평균 / 표준편차)</h2>

  <% Object.entries(result).forEach(([core, stats], coreIndex) => { %>
    <h3><%= core %></h3>
    <canvas id="chart<%= coreIndex %>" width="400" height="200"></canvas>

    <script>
      const ctx = document.getElementById("chart<%= coreIndex %>").getContext("2d");

      new Chart(ctx, {
        type: "bar",
        data: {
          labels: ["Task1", "Task2", "Task3", "Task4", "Task5"],
          datasets: [
            {
              label: "AVG",
              data: <%-JSON.stringify(stats.map(s => parseFloat(s.avg)))%>,
              backgroundColor: "rgba(54, 162, 235, 0.5)"
            },
            {
              label: "STD",
              data : <%-JSON.stringify(stats.map(s => parseFloat(s.std)))%>,
              backgroundColor: "rgba(255, 99, 132, 0.5)"
            }
          ]
        },
        options: {
          responsive: true,
          scales: {
            y: {
              beginAtZero: true
            }
          }
        }
      });
    </script>
  <% }) %>
</body>
</html>
